img {
  display: block;
}

.profile {
  width: 100vw;
  height: 100vh;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  position: fixed;
  top: 0;
  right: -100vw;
  background-color: #f2f2f2;
  z-index: 1100;
  padding: 0 24px;
  overflow-y: scroll;
}

.profile .profile-nav {
  width: 100%;
  height: 84px;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.profile .profile-nav .close-profile {
  width: 30px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .profile-nav .title {
  font-family: "Libre Baskerville";
  font-size: 24px;
  font-weight: 700;
  color: #121212 !important;
}

.profile .profile-card {
  margin-top: 18px;
  width: 100%;
  border-radius: 10px;
  background-color: #1B0F00;
  padding: 12px;
}

.profile .profile-card .profile-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.profile .profile-card .profile-info-container .profile-image img {
  width: 70px;
  height: 70px;
  display: block;
}

.profile .profile-card .profile-info-container .profile-name {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  color: #fff !important;
}

.profile .profile-card .profile-keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  margin-top: 12px;
}

.profile .profile-card .profile-keys div {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8) !important;
}

.profile .borrowed-book-container {
  margin-top: 44px;
}

.profile .borrowed-book-container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .borrowed-book-container .header .title {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  color: #121212 !important;
}

.profile .borrowed-book-container .borrowed-book-info {
  margin-top: 12px;
}

.profile .borrowed-book-container .borrowed-book-info .book-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.profile .borrowed-book-container .borrowed-book-info .book-info .book-image img {
  width: 70px;
  border-radius: 8px;
}

.profile .borrowed-book-container .borrowed-book-info .book-info .book-name {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  color: #121212 !important;
}

.profile .borrowed-book-container .borrowed-book-info .book-due {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  margin-top: 8px;
}

.profile .borrowed-book-container .borrowed-book-info .book-due .info .label {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 400;
  color: rgba(18, 18, 18, 0.6) !important;
}

.profile .borrowed-book-container .borrowed-book-info .book-due .info .date {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  color: #121212 !important;
}

.profile .borrowed-book-container .borrowed-book-info .book-status {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  color: #121212 !important;
  margin-top: 8px;
}

.profile .borrowed-book-container .borrowed-book-info .overdue {
  color: #F32F2F !important;
}

.profile .borrowed-book-container .borrowed-book-info .underdue {
  color: #13B323 !important;
}

.profile .borrowed-book-container .thread {
  width: 100%;
  height: 3px;
  background-color: #e7e7e7;
  margin-top: 12px;
}

.profile .borrow-history-container {
  margin-bottom: 57px;
}

.profile .borrow-history-container .title {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  color: #121212 !important;
  margin: 32px 0 12px 0;
}

.profile .borrow-history-container .borrow-history-card .book-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
}

.profile .borrow-history-container .borrow-history-card .book-info .book-name, .profile .borrow-history-container .borrow-history-card .book-info .date {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  color: #121212 !important;
}

.profile .borrow-history-container .borrow-history-card .returned {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  color: #13B323 !important;
  margin-top: 4px;
}

.profile .borrow-history-container .borrow-history-card .thread {
  width: 100%;
  height: 2px;
  background-color: #e7e7e7;
  margin-top: 8px;
}

.profile .overdue-container {
  margin-top: 44px;
}

.profile .overdue-container .title {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  color: #121212 !important;
}

.profile .overdue-container .overdue-card {
  margin-top: 12px;
  display: -ms-grid;
  display: grid;
  gap: 4px;
}

.profile .overdue-container .overdue-card .info {
  padding-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile .overdue-container .overdue-card .info .book-name, .profile .overdue-container .overdue-card .info .due-date {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  color: #121212 !important;
}

.profile .overdue-container .overdue-card .info .due-date {
  color: #F32F2F !important;
}

.profile .overdue-container .overdue-card .due-mount {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  color: #F32F2F !important;
}

.profile .overdue-container .overdue-card .thread {
  width: 100%;
  height: 3px;
  background-color: #e7e7e7;
  margin-top: 12px;
}

@media (min-width: 780px) {
  .profile {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: auto;
    height: 100vh;
    right: 0;
    padding: 0 38px;
    max-width: 350px;
  }
  .profile .profile-nav {
    display: none;
  }
}
/*# sourceMappingURL=profile.css.map */