@import '../mixins.scss';

img { display: block; }

.profile {
  width: 100vw;
  height: 100vh;
  transition: 0.1s ease-in;
  position: fixed;
  top: 0;
  right: -100vw;
  background-color: $white-bg;
  z-index: 1100;
  padding: 0 24px;
  overflow-y: scroll;


  .profile-nav {
    width: 100%;
    height: 84px;
    position: relative;
    display: grid;
    place-items: center;

    .close-profile {
      width: 30px;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      @include flexCenter;
    }

    .title {
      @include fontProp('Libre Baskerville', 700, 24px);
    }
  }

  .profile-card {
    margin-top: 18px; 
    width: 100%;
    border-radius: 10px;
    background-color: $secondary;
    padding: 12px;
    
    .profile-info-container {
      display: flex;
      align-items: center;
      gap: 12px;

      .profile-image {
        img {
          width: 70px;
          height: 70px;
          display: block;
        }
      }
      
      .profile-name {
        @include fontProp('Poppins', 500, 18px, #fff);
      }
    }

    .profile-keys {
      display: flex;
      gap: 18px;
      margin-top: 12px;

      div {
        @include fontProp('Poppins', 400, 12px, rgba(#fff, .8));
      }
    }
  }

  .borrowed-book-container {
    margin-top: 44px;

    .header {
      display: flex;
      justify-content:space-between;
      align-items: center;

      .title {
        @include fontProp('Poppins', 600, 24px);
      }
    }

    .borrowed-book-info {
      margin-top: 12px;

      .book-info {
        display: flex;
        gap: 12px;
        
        .book-image {
          img {
            width: 70px;
            border-radius: 8px;
          }
        }
        .book-name { @include fontProp('Poppins', 500, 20px); }
      }

      .book-due {
        display: flex;
        gap: 18px;
        margin-top: 8px;

        .info {
          .label { @include fontProp('Poppins', 400, 12px, rgba(#121212, .6)); }
          .date { @include fontProp('Poppins', 400, 14px); }
        }
      }

      .book-status {
        @include fontProp('Poppins', 500, 14px);
        margin-top: 8px;
      }
      .overdue { color: $red !important; }
      .underdue { color: $green !important; }
    }

    .thread {
      width: 100%;
      height: 3px;
      background-color: #e7e7e7;
      margin-top: 12px;
    }
  }

  .borrow-history-container {
    margin-bottom: 57px;

    .title {
      @include fontProp('Poppins', 600, 24px);
      margin: 32px 0 12px 0;
    }

    .borrow-history-card {

      .book-info {
        display: flex;
        .book-name, .date {
          @include fontProp('Poppins', 500, 14px);
        }
      }

      .returned {
        @include fontProp('Poppins', 500, 14px, $green);
        margin-top: 4px;
      }

      .thread {
        width: 100%;
        height: 2px;
        background-color: #e7e7e7;
        margin-top: 8px;
      }
    }
  }

  @include desktop {
    position: sticky;
    top: 0;
    width: auto;
    height: 100vh;
    right: 0;
    padding: 0 38px;

    .profile-nav { display: none; }
  }
}