@import '../mixins.scss';

.sidebar {
  width: 100vw;
  height: 100vh;
  transition: 0.1s ease-in;
  position: fixed;
  top: 0;
  left: -100vw;
  background-color: $secondary;
  z-index: 1100;
  padding: 0 24px;

  .desktop_hide-sidebar {
    width: 42px;
    height: 42px;
    position: absolute;
    right: -21px;
    top: 26px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(#000, .2);
    display: grid;
    place-items: center;
  }

  .sidebar-nav {
    width: 100%;
    height: 84px;
    margin-bottom: 40px;
    position: relative;
    display: grid;
    place-items: center;

    .close-sidebar {
      width: 30px;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      @include flexCenter;
    }
  }

  .sidebar-buttons {
    display: grid;
    width: 100%;
    margin-top: 45px;

    .active-button-container {
      position: relative;

      ::before {
        content: '';
        width: calc(100% + (24px * 2));
        z-index: -1;
        height: 100%;
        position: absolute;
        top: 0;
        left: -24px;
        background: linear-gradient(90deg, rgba(#fff, .12), rgba(#fff, 0));
      }

      ::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 3px;
        background-color: #fff;
        left: -24px;
        top: 0;
      }
    }

    
    .button-container {
      width: 100%;
      padding: 18px 0;

      .button-content {
        cursor: pointer;
        display: flex;
        gap: 8px;
        align-items: center;

        img {
          display: block;
          width: 24px;
        }

        .label {
          @include fontProp('Poppins', 500, 16px, #fff);
        }

        &:hover {
          .label { color: $primary !important; }
        }
      }

      .sign-out {
        margin-top: 100px;
        .label { color: $red !important; }
      }
    }
  }



  @include desktop {
    position: sticky;
    top: 0;
    width: auto;
    height: 100vh;
    left: 0;
    padding: 0 38px;

    .sidebar-nav {
      .close-sidebar {
        display: none;
      }
    }

    .sidebar-search-bar { display: none; }

    .sidebar-buttons {
      .active-button-container {
        ::before {
          width: calc(100% + (38px * 2));
          left: -38px;
        }

        ::after {
          left: -38px;
        }
      }
    }

    .button-container {
      .button-content {
        gap: 12px;

        .label { font-size: 18px !important; }
      }
    }
  }

}