@import './mixins.scss';

.body-content {
  width: 100%;

  .image-slider {
    width: 100%;
    // height: 160px;
    position: relative;
    overflow: hidden;
    background-color: $secondary;
    border-radius: 12px;

    .darken-filter {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      // background-color: rgba(#000, 0.6);
      background: linear-gradient(135deg, rgba(#000, 0.8), rgba(#000, 0.4));
      padding: 24px;

      .header {
        @include fontProp('Libre Baskerville', 700, 48px, #fff);
      }
      .des {
        margin-top: 12px;
        @include fontProp('Poppins', 400, 16px, #fff);
        width: 90%;
      }

      @include desktop {
        padding: 18px;

        .header {
          font-size: 69px !important;
        }
        .des {
          font-size: 24px !important;
        }
      }
    }
    
    .slide-container {
      width: 100%;
      display: grid;
      // grid-template-columns: ;
      transition: 0.5s ease-in-out;

      .image-container {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }

  .read {
    .header {
      margin: 58px 0 8px 0;
      @include fontProp('Libre Baskerville', 700, 32px);
    }

    .description {
      @include fontProp('Poppins', 400, 16px, rgba(#121212, 0.8));
    }

    .btn {
      margin-top: 14px;
    }

    @include desktop {
      .header { font-size: 48px !important; }
      .description { font-size: 18px !important }
    }
  }
}